<!DOCTYPE HTML>
<html>
  <% include head %>

  <body>
    <h1>Welcome to <%= title %>!</h1>

    <ul>
        <% drinks.forEach(function(drink) { %>
            <li>
              <a href="/drinks/<%= drink.name %>"><%= drink.name %></a> 
            </li>
        <% }) %>
    </ul>

  </body>
  <script>
      var drinks = <%- JSON.stringify(drinks) %>
      console.log(drinks);
  </script>
</html>