<!DOCTYPE HTML>
<html>
  <% include head %>

  <body>
    <h1><%= drinkName %>!</h1>
    <a href="/drinks"> Back to All Drinks! </a>
    <h2><%= drinkDescription %>!</h2>
     <ul>
        <% recipeitems.forEach(function(recipeitem) { %>
            <li>
                <%= recipeitem.amount %>
                <%= recipeitem.ingredient %>
            </li>
        <% }) %>
    </ul>

  </body>
</html>