<!DOCTYPE HTML>
<html>
  <% include head %>

  <body>
    <h1>Welcome to <%= title %>!</h1>
    <ul>
      <li><a href="about">About</li>
      <li><a href="drinks">Drinks</li>
      <li><a href="newDrink">New Drink</li>
    </ul>
  </body>
</html>