<!DOCTYPE HTML>
<html lang="en">
<html>
  <% include head %>

  <body>
    <h1>Let's make a new drink</h1>

    <form method="POST">
      <p>
        Name of the drink <br/>
        <input type="text" name="name" required/>
      </p>
      <p>
        Description for the drink <br/>
        <textarea name="description"></textarea>
      </p>
      <input type="submit" value="Create"/>
    </form>
  </body>
</html>