<!DOCTYPE HTML>
<html lang="en">
<html>
  <% include head %>

  <body>
    <h1>Let's make a new drink</h1>
    <a href="/"> Back to Homepage! </a>

    <form method="POST">
      <p>
        Name of the drink <br/>
        <input type="text" name="name" required/>
      </p>
      <p>
        Description for the drink <br/>
        <textarea name="description" cols=48></textarea>
      </p>
      <table id="recipe">
        <thead>
          <tr>
            <th>Amout</th>
            <th>Ingredient</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="recipeitems">
        </tbody>
      </table>
      <button onClick=add()>Add</button>
      <br/><br/></br>
      <input type="submit" value="Create"/>
    </form>

    <script>
      var index = 0
      add()

      function add(){
        var tbody = document.getElementById("recipeitems")
        var newRow = tbody.insertRow(-1)
        newRow.insertCell(0).innerHTML = 
          `<input type="text" name="recipeitems[${index}][amount]" required>`
        newRow.insertCell(1).innerHTML = 
          `<select name="recipeitems[${index}][ingredient]" onchange="newIngredient(this, value)">
            <option value="" disabled selected>Select ingredient</option>
            <% ingredients.forEach(function(ingredient) { %>
              <option value="<%= ingredient.name %>">
                <%= ingredient.name %>
              </option>
            <% }) %>
            <option value="ADD">Add ingredient</option>
          </select>`
        newRow.insertCell(2).innerHTML = 
          '<button onClick=remove(this)>X'
        index++
      }

      function newIngredient(obj, value){
        if(value != "ADD"){
          return;
        }
        var ingredient = {
          name : prompt("Ingredient name"),
          type : prompt("Ingredient type"),
          description : prompt("Ingredient description"),
          percentage : prompt("Ingredient percentage")
        }
        obj[obj.selectedIndex].value = ingredient.name;
        obj[obj.selectedIndex].text = ingredient.name;
        
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/newIngredient", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(serialize(ingredient));
      }

      function remove(button){
        var row = button.parentNode.parentNode
        var tbody = row.parentNode
        if(tbody.childElementCount > 1){
          tbody.removeChild(row)
        }
      }

      function serialize(obj) {
        var params = Object.keys(obj).map(k => k + '=' + encodeURIComponent(obj[k]))
        return params.join('&')
      }
    </script>
  </body>
</html>